<!DOCTYPE HTML>
<html ng-app="myTodo">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Angular Todo app">
    <meta name="keywords" content="list, task list, todo, angular, blocitoff, bloc">
    <meta name="author" content="Gourav Anvekar">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blocitoff &mdash; Angular TODO app</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home"></a></li>
                <li><a ui-sref="home"></a></li>
                <li><a ui-sref="home"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="home"></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<br />
<br />
<br />
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container-fluid">
    <div class="container">
        <h1>Blocitoff</h1>
    </div>
</div>
<br />
<div id="todo" class="container">
    <div class="row">
        <blockquote class="block-quote">
            <p>
                Todo lists are notorious for collecting junk tasks that you want to remember but constantly re-prioritize.
                To solve the problem of todo list clutter, <span class="label label-primary">Blocitoff</span> will manage your to-do lists by automatically deleting tasks that have not been completed after seven days.
            </p>
            <footer>
                <strong>Our hypothesis is that if the task is not important enough to be completed within seven days, it does not belong on your to-do list.</strong>
                <br /><br /> For demo purposes, the task will expire in <span class="label label-info">1 minute</span> if it is not marked as complete
            </footer>
        </blockquote>
    </div>
    <div class="row" ng-controller="TaskController as TaskCtrl">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ taskType + ' Tasks' | capitalize }}
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="" placeholder="Enter new task" ng-model="newTask.taskName" my-enter="addTask(newTask)">
                        <div class="input-group-btn">
                            <div class="btn-group" dropdown>
                                <button id="btn-append-to-body" type="button" class="btn {{ newTask.taskPriority == 'high' ? 'btn-danger' : (newTask.taskPriority == 'medium' ? 'btn-warning' : 'btn-info')}}" dropdown-toggle>
                                    {{ newTask.taskPriority | capitalize }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu drop-index"  aria-labelledby="btn-append-to-body">
                                    <li ng-repeat="priority in priorities">
                                        <a ng-click="newTask.taskPriority = priority">{{ priority | capitalize }}</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="btn btn-default btn-primary" ng-click="addTask(newTask)">Add</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row task-separator"
                         ng-repeat="task in tasks"
                         ng-mouseenter="task.buttons= true;"
                         ng-mouseleave="task.buttons= false;">
                        <div class="col-md-2 col-lg-2">
                        <span class="label {{ task.taskPriority == 'high' ? 'label-danger' : (task.taskPriority
                         == 'medium' ? 'label-warning' : 'label-primary')}}">
                            {{ task.taskStatus == 'expired' ? 'expired' : task.taskPriority | capitalize}}
                        </span>
                        </div>
                        <div class="col-md-6 col-lg-6" ng-dblclick="startEditing(task);">
                        <span ng-hide="task.editing">
                            <h5 class="{{ task.taskStatus == 'completed' ? 'complete' : (task.taskStatus == 'expired' ? 'expired' : 'active')}}">
                                {{task.taskName}}
                            </h5>
                        </span>
                            <form ng-submit="doneEditing(task)" ng-show="task.editing">
                                <input type="text" class="form-control" ng-model="task.taskName" ng-blur="doneEditing(task)" ng-focus="task == editedTask">
                            </form>
                        </div>
                        <div class="col-md-4 col-lg-4">
                        <span class="pull-right">
                            <button class="btn btn-sm {{ task.buttons ? 'btn-primary': 'btn-default' }}" ng-click="startEditing(task);" ng-show="task.taskStatus == 'active'">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                            <button class="btn btn-sm {{ task.buttons ? 'btn-success': 'btn-default' }}" ng-click="markTaskComplete(task, 'completed')"  ng-show="task.taskStatus == 'active'">
                                <i class="glyphicon glyphicon-ok"></i>
                            </button>
                            <button class="btn btn-sm {{ task.buttons ? 'btn-danger': 'btn-default' }}" ng-click="deleteTask(task)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a type="button" class="btn btn-sm btn-warning" ng-click="allTasks()"><i class="glyphicon glyphicon-tasks"></i>  All</a>
                    <a type="button" class="btn btn-sm btn-primary" ng-click="getTasksByStatus('active')"><i class="glyphicon glyphicon-flag"></i>  Active</a>
                    <a type="button" class="btn btn-sm btn-success" ng-click="getTasksByStatus('completed')"><i class="glyphicon glyphicon-check"></i>  Completed</a>
                    <span class="pull-right">
                        <a href="" type="button" class="btn btn-sm btn-danger" ng-click="getTasksByStatus('expired')"><i class="glyphicon glyphicon-time"></i>  Expired</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-6">
                <strong>
                    &copy; <a href="http://www.gouravanvekar.com/" target="_blank">Gourav Anvekar</a>
                    &nbsp;&nbsp;| &nbsp; <a class="footer-link" href="https://github.com/gouravanvekar/angular-todo-app" target="_blank">View on GitHub</a>
                </strong>
                <br />
                <br />
            </div>
            <div class="col-lg-6">
                <span class="pull-right">
                    <a class="github-button" href="https://github.com/gouravanvekar" data-style="mega" aria-label="Follow @gouravanvekar on GitHub">Follow @gouravanvekar</a>
                </span>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="../scripts/angular.min.js"></script>
<script type="text/javascript" src="../scripts/ui-bootstrap-tpls-0.13.4.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-resource.js"></script>
<script type="text/javascript" src="../scripts/moment.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

<!--Application Script-->
<script type="text/javascript" src="../scripts/app.js"></script>

<!--Controllers-->
<script type="text/javascript" src="../scripts/task.controller.js"></script>

<!--Services-->
<script type="text/javascript" src="../scripts/common.services.js"></script>

<!--Directives-->
<script type="text/javascript" src="../scripts/ng-blur.directive.js"></script>
<script type="text/javascript" src="../scripts/ng-focus.directive.js"></script>
<script type="text/javascript" src="../scripts/my-enter.directive.js"></script>

<!--Filters-->
<script type="text/javascript" src="../scripts/capitalize.filter.js"></script>

</body>
</html>